@use '../base/variables' as v;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: v.$font_default;
  font-weight: 500;
}

p, h1, h2, h3{
  color: v.$gray-950;
}

h1, h2{
  font-weight: 500;
}

.layout {
  display: flex;
  height: 100vh;
  margin-left: 60px;
}

.content {
  flex: 1;  /* Se expande automáticamente */
  background: #fff;
  display: flex;
  justify-content: center;
}

.data-area {
  width: 100%;
  max-width: 52rem;
}